.screen-reader-text {
	display: none;
}

#TB_title {
	text-align: center;
}

#hash-resolve_logo img {
	width: 75px;
	height: auto;

	display: block;

	margin: 1em auto 1em auto;

	padding-bottom: 1em;
}

h3#hash-resolve_address {
	text-align: center;
}

#hash-resolve_options {
	display: flex;
	flex-direction: row;

	margin-left: 25px;
	width: 100%;
}

#hash-resolve_options > div {
	flex-grow: 1;

	text-align: center;
}

.hash-resolve_icon img {
	display: block;
	margin-left: auto;
	margin-right: auto;

	width: 125px;
	height: auto;
}

/* Warning: These _about styles here are used on both the popup AND the admin */

#hash-resolve_about {
	text-align: center;
}

#hash-resolve_about > a {
	font-size: x-small;
}

#hash-resolve_about > div {
	display: flex;
}

#hash-resolve_about > div > div {
	flex-grow: 1;

	text-align: center;
}

#hash-resolve_about-bitcoin a {
	font-size: xx-small;
}

#hash-resolve_about-bitcoin img {
	width: 250px;

	padding: 1em;

	display: block;
	margin-left: auto;
	margin-right: auto;
}

#hash-resolve_about-details {
	max-width: 60em;
}

#hash-resolve_about-details > p {
	text-align: justify;
}
